/* swiper.css */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  text-align: center;
}

.menu-item img {
  max-width: 100%;
  height: auto;
}